body{
    background-color: #ECFDEF;
}

.col-form-label-lg{
    text-align: right;
}

.input-group-lg{
    margin-right: 50%;
}

.form-check{
    padding-top: 1em;
    padding-left: 2em;
}

.btn-primary{
    background-color:#52B788 !important;
    color: #000;
}