figcaption{
    text-align : center;
}

body {
    background-color:#ECFDEF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

#donor-home-img-angel {
    max-width: 75%;
}

h2 {
    font-size: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

.caption h2{
line-height:45px;
font-size: 50px;
}
.caption strong { 
  font-size: 26px;
}

/* Services
---------------------------------*/

#service {
    padding: 60px 0px;
    height:100%;
}


.service_wrapper {
    padding: 40px 0 40px;
}

.service_section {
}

.service_block {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
	position: relative;
}

.service_icon {  
    width: 90px;
    height: 85px;
    margin: 0px auto 25px; 
}

 

.service_icon span {
    background: transparent; 
    display: block;
    height: 95px;
    width: 95px;
	
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 6px 0 0;
}

.service_icon i {
  color: #FEE16F;
font-size: 40px;
margin-top: 0;
position: relative;
top: 20px;
z-index: 20;
display: block;
text-align: center;
}

.service_block h3 {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 35px 0 15px; 
}
#service h6{
}
.service_block p {
    font-size: 16px;
    margin: 0 0 35px 0; 
}
	



/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.page_section.paddind {
    padding-bottom: 60px;
}


/* About Us
--------------------------- */
 
.aboutUs-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
}
#about-us, h2, h3, h6, p {
/* color: #0A1525; */
}

.about-us{ 
}
.about-us h2{
    font-size:50px;
}
.about-us h3{
	font-size:10px;
}
.points{ 
	margin-bottom: 10px;
	font-size:14px;
	padding-left:0px;
}
.about-us p{
	/*font-size: 0.9375em;*/
	line-height: 1.625em;
	padding: 15px 0;
}
.about-us{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
	padding: 25px 25px 15px;
	background-color: #EDEDED;
}

.about-us .points{
	position: relative;
	list-style-type: none;
	padding: 5px 0 5px 30px;
}

.about-us .points:before{
	content: "\f058";
	position: absolute;
    font-family: FontAwesome;
	font-size: 1.125em;
	left: 0px;
	top: 3px;
}

.about-us-link a:first-child{
	margin-left: 0;
}

.service_block h3{
    color:black
}

