body{
    background-color: #ECFDEF;
    font-family: 'Titillium Web';
    overflow-x: hidden;
}

.btn-primary{
    background-color:#52B788 !important;
    color: #000;
    margin-bottom: 0.5em;
}
