@media only screen and (min-width: 768px) {
    .fr-profile {
        max-width: 50%;
    }
}

.fr-profile-image {
    width: 35%;
    border-radius: 50%;
}

.fr-profile-description {
    text-align: justify;
}

.fr-profile-contact-icons > a {
    font-size: 3rem;
    background-color: #52B788;
    color: white;
    padding: 0.1rem 0.75rem 0rem 0.75rem;
    border-radius: 1em;
}

.fr-profile-button-edit {
    background-color: #52B788;
    border-radius: 1.5em;
}