body{
    background-color: #ECFDEF;
    font-family: 'Titillium Web';
}

.btn-primary{
    background-color:#52B788 !important;
    color: #000;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}