.container{
    margin-left: 0%;
    width: 100%;
}

.menu{
    font-weight: bold;
    padding-right: 3vw;
}

.logo{
    height: 15vh;
}

.logout{
    height: 6vh;
    padding-right: 1vw;
}

.head{
    background-color: #B2E1CC;
}


