body{
    background-color:#ECFDEF;
    font-family: 'Titillium Web';
    overflow-x: hidden;
}

.bg-lightgreen{
    background-color:#F5FFF7
}

.bg-mediumgreen{
    background-color:#B2E1CC
}

.justify{
    text-align: justify;
}


.location{
    font-size: 3vw;
}

.showcase-title{
    font-size: 4.5vw;
}

.fundraiser{
    font-size: 2vw;
}

.funds{
    margin-bottom: 2.5%;
    font-size: 2vw;
}

.location-icon{
    width: 5%;
    height: 4%;
    margin-top: 0.7%;
}

.goal-icon{
    width: 9%; 
    height: 3%;
}

.goal-bar{
    width: 40%; 
    height: 10px; 
    background:#B7E4C7; 
    border-radius: 0 5px 5px 0;
}

.goal-progress{
    width: 60%; 
    height: 10px; 
    background:#114D4F; 
    border-radius: 5px 0 0 5px;
}
